<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<script>

	$(function(){
		//批量删除
		$(".deleteBatch").on("click",function(){
			var ids = $(".dataTable input[type='checkbox']:checked").map(function(index,item){
				return $(item).val();
			}).get();
			jQuery.ajaxSetup({
				traditional:true// ids数组可以被后台接收到
			});

			$.post("deletepe",{ids:ids},function(data){
				alert(data);
				$(".menu dd:contains('辅助检查项目管理')").trigger("click");
			});
		});
	});

	//添加
	function addPe(){
		//点击添加模态框显示
		$("#peModal").modal('show');
		//点击模态框中的保存，模拟点击form表单的提交按钮
		$(".modal-footer .submitBtn").on("click",function(){
			$("#peForm").attr("action","addpe");
			$("#peForm input:submit").trigger("click");
		});
		$("#peForm").ajaxForm(function(data){
			$("#deptModal").modal('hide');
			alert(data);
			$(".menu dd:contains('辅助检查项目管理')").trigger("click");
		});

	}
	//删除
	function deletepe(id){
		$.post("deletepe",{id:id},function(data){
			alert(data);
			$(".menu dd:contains('辅助检查项目管理')").trigger("click");
		});
	}
	//修改
	function updateDept(id){
		//省略......
	}
</script>
<div class="pe">
	<div class="optios">
		<button class="addBtn" onclick="addPe()">添加</button>
		<button class="deleteBatch">批量删除</button>
	</div>
	<div class="data">
		<table class="dataTable table table-striped table-bordered">
			<thead>
				<tr>
					<th>请选择</th>
					<th>编号</th>
					<th>检查项目</th>
					<th>检查费用</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" value=""/></td>
					<td>1</td>
					<td>喉镜</td>
					<td>150.0</td>
					<td>
						<a href="javascript:void(0)" onclick="">删除</a>
						<a href="javascript:void(0)" onclick="updatePe(1)">修改</a>
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" value=""/></td>
					<td>2</td>
					<td>胃镜</td>
					<td>120.0</td>
					<td>
						<a href="javascript:void(0)" onclick="">删除</a>
						<a href="javascript:void(0)" onclick="updatePe(1)">修改</a>
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" value=""/></td>
					<td>3</td>
					<td>彩超</td>
					<td>65.0</td>
					<td>
						<a href="javascript:void(0)" onclick="">删除</a>
						<a href="javascript:void(0)" onclick="updatePe(1)">修改</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- 模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="peModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加部门</h4>
      </div>
      <div class="modal-body">
        <form action="" id="peForm">
			<table>
				<tbody>
					<tr>
						<td style="width:80px">检查项目</td>
						<td><input type="text" name="name"/>
							<input type="hidden" name="id">
						</td>
					</tr>
					<tr>
						<td style="width:80px">检查费用</td>
						<td>
						<input type="text" name="price">
						</td>
					</tr>
				</tbody>
			</table>
			<input type="submit" style="display:none">
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelBtn" >取消</button>
        <button type="button" class="btn btn-primary submitBtn">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
