<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
	$(function(){
		/* var count=$("#getPages").val();
		alert(count);
		for(i=0;i<count;i++){
			$("#selectPage").append('<option value=''>'+i+'</option>');
		} */
		$.get("selectRoles",{},function(data){

			for(var i=0;i<data.length;i++){
				var id = data[i].id;
				var name = data[i].name;
				/* var newOption = $('<option value='+id+'>'+name+'</option>') */
				$("#roleSelect").append('<option value='+id+'>'+name+'</option>');
			}

		});
		$.get("selectDept",{},function(data){
			for(var i=0;i<data.length;i++){
				var id = data[i].id;
				var name = data[i].name;
				$("#deptSelect").append('<option value='+id+'>'+name+'</option>');
			}
		});
		
		//指定要使用时间控件的元素 
		laydate.render({
			elem:"#birth"
		});
		//先清除掉所有的绑定事件 
		$(".addBtn").off();
		//添加
		$(".addBtn").on("click",function(){
			$("#userForm input[name=id]").val("");
			//清空表单内容
			$("#userForm input[type=reset]").trigger("click");
			//清空redio选中
			$("#userForm input[type=radio]").attr("checked",false);
			// 显示模态框
			$("#userModal").modal('show');
			//修改标题 
			$(".modal-header .modal-title").text("添加员工 "); 
			//当点击添加按钮时，先查出所有部门和角色，显示到模态框中的下拉列表中
			$("#userModal").modal('show');
		});
		
		//点击保存按钮
		$(".modal-footer .submitBtn").on("click",function(){
			//改变form表单提交的地址
			//$("#userForm").attr("action","/user");
			$("#userForm").attr("method", "POST");
			//模拟点击submit按钮
			$("#userForm input:submit").trigger("click");
		});
		$("#userForm").ajaxForm(function(data){
			$("#userModal").modal('hide');
			if (data != 'OK') {
				alert(data);
			} else {
				alert('操作成功！');
				// 延时加载，防止模态框消失动作冲突
				setTimeout(function() {
					// 模拟点击左侧导航栏[部门管理]菜单，等同于重新加载页面
					$(".menu dd:contains('职工管理')").trigger("click");
				},500);
			}
		});
		//批量删除
		$(".deleteBatch").on("click",function(){
			var ids = $(".dataTable input[type='checkbox']:checked").map(function(index,item){
				return $(item).val();
			}).get();
			jQuery.ajaxSetup({
				traditional:true// ids数组可以被后台接收到
			});
			var str="";
			for(i=0;i<ids.length;i++){
				str=i==ids.length-1?str+ids[i]:str+ids[i]+",";
			}
			var result=confirm("确认要删除"+str+"这些职工吗？");
			/* $.post("deleteUser",{ids:ids},function(data){
				alert(data);
				$(".menu dd:contains('职工管理')").trigger("click");
			}); */
			// 发送请求，参数为所有需要删除的部门ID
			if(result){
				$.ajax({
					url : "/user",
					type : "POST",
					data : {
						ids : ids,
						_method : "DELETE"
					},
					success : function(data) {
						alert(data);
						// 删除成功后，更新页面信息
						$(".menu dd:contains('职工管理')").trigger("click");
					}
				});
			}			
		});
	});

	//删除
	function deleteUser(id){
		/* $.post("deleteUser",{id:id},function(data){
			alert(data);
			$(".menu dd:contains('部门管理')").trigger("click");
		}); */
		var result=confirm("确认删除该职工吗？");
		if(result){
			$.ajax({
				url : "/user/" + id,
				type : "DELETE",
				success : function(data) {
					if (data == 'OK') {
						alert("删除成功");
						$(".menu dd:contains('职工管理')").trigger("click");
					}
				}
			});
		}	
	}
	//修改
	function updateUser(id){
		//先查出对应的本门显示到模态框中
		$.get("/user/" + id, {}, function(data) {
			$("#userForm input[name='name']").val(data.name);
			$("#userForm input[name='gender']").val(data.gender);
			$("#userForm input[name='phone']").val(data.phone);
			$("#userForm input[name='card']").val(data.card);
			$("#userForm input[name='position']").val(data.position);
			$("#userForm input[name='address']").val(data.address);
			$("#userForm select[name='department.id']").val(data.department.id);
			$("#userForm select[name='role.id']").val(data.role.id);
			//1.先更具是兼职创建js中的date对象
			var dateObj=new Date(data.birth);
			var year=dateObj.getFullYear();
			var month=dateObj.getMonth()+1;
			var date=dateObj.getDate();
			month=month.toString().length==1?"0"+month:month;
			date=date.toString().length==1?"0"+date:date;
			//2.凭借指定格式的字符串
			$("#userForm input[name='birth']").val(year+"-"+month+"-"+date);
			$("#userForm input[name='education']").val(data.education);
			$("#userForm input[name='professional']").val(data.professional);
			var radio1 = $("#male");
			var radio2 = $("#female");
			if (data.gender == "男") {
				radio1.attr("checked", "checked");
			}else{
				radio2.attr("checked", "checked");
			}
			// 添加部门和修改部门实际上用的是同一个模态框
			// 所以打开前先修改模态框标题
			$(".modal-header .modal-title").text("修改员工");
			// 显示模态框
			$("#userModal").modal('show');
		});
		$("#userModal .submitBtn").off();
		$("#userModal .submitBtn").on("click", function() {
			$("#userForm input[name=_method]").attr("value", "PUT");
			$("#userForm input:submit").trigger("click");
		});
		$("#userForm").ajaxForm(function(data) {
			$("#userModal").modal('hide');
			alert(data);
			setTimeout(function(){
				$(".menu dd:contains('职工管理')").trigger("click");
			},500);
		});
	}
	//分页
	function pageSelect(page, size) {
		var url = "/user?page="+page+"&size="+size;
		$(".b_main").load(url);
	}
	// 模态框取消
	function cancel() {
		$("#userModal").modal('hide');
		$("#userForm").get(0).reset();
	}
</script>
<div class="user">
	<div class="optios">
		<button class="addBtn">添加</button>
		<button class="deleteBatch">批量删除</button>
	</div>
	<div class="data">
		<table class="dataTable table table-striped table-bordered">
			<thead>
				<tr>
					<th>请选择</th>
					<th>编号</th>
					<th>员工号</th>
					<th>姓名</th>
					<th>所在部门</th>
					<th>性别</th>
					<th>出生日期</th>
					<th>电话号码</th>
					<th>籍贯</th>
					<th>身份证号</th>
					<th>学历</th>
					<th>职称</th>
					<th>职位</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user,status:${session.page.content}">
					<td><input type="checkbox" th:value="${user.id}" value="" /></td>
					<td th:text="${status.count}">编号</td>
					<td th:text="${user.id}">员工号</td>
					<td th:text="${user.name}">姓名</td>
					<td th:text="${user.department.name}">所在部门</td>
					<td th:text="${user.gender}">性别</td>
					<!-- <td th:text="${user.birth}">出生日期</td> -->
					<td th:text="${#dates.format(user.birth,'yyyy-MM-dd')}">出生日期</td>
					<td th:text="${user.phone}">电话号码</td>
					<td th:text="${user.address}">籍贯</td>
					<td th:text="${user.card}">身份证号</td>
					<td th:text="${user.education}">学历</td>
					<td th:text="${user.position}">所在部门</td>
					<td th:text="${user.professional}">职位</td>
					<td><a href="javascript:void(0)"
						th:onclick="|deleteUser(${user.id})|">删除</a> <a
						href="javascript:void(0)" th:onclick="|updateUser(${user.id})|">修改</a></td>
				</tr>
			</tbody>
		</table>
		<table class="footTable">
			<tr>
				<td colspan="5">共<font th:text="${session.page.totalElements}">20</font>条记录
					每页<font th:text="${session.page.size}">5</font>条 第<font
					th:text="${session.page.number}+1">1</font>页 <a
					href="javascript:void(0)"
					th:onclick="|pageSelect(0,${session.page.size})|">首页</a> <a
					href="javascript:void(0)"
					th:onclick="|pageSelect(${session.page.number}-1,${session.page.size})|" th:if="${session.page.isFirst()}==false">上一页</a>
					<!-- 如果要方法后面要传值用"/里面输入方法和值/" -->
					<font color="#ABA8AB" th:if="${session.page.isFirst()}==true">上一页</font> <a href="javascript:void(0)"
					th:onclick="|pageSelect(${session.page.number}+1,${session.page.size})|" th:if="${session.page.isLast()}==false">下一页</a>
					<font color="#ABA8AB" th:if="${session.page.isLast()}==true">下一页</font> <a href="javascript:void(0)"
					th:onclick="|pageSelect(${session.page.totalPages}-1,${session.page.size})|">尾页</a>
					<!-- <font th:text="${session.page.totalPages}" style="display: none" id="getPages">页数</font>
					<font>跳转到
						<select th:onchange="|pageSelect(this.value,5)|" id="selectPage" >
						</select>
						页
					</font> -->
					
				</td>
			</tr>
		</table>
	</div>
</div>


<!-- 模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="userModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加员工</h4>
      </div>
      <div class="modal-body">
        <form action="/user" id="userForm" method="post">
        	<input type="hidden" name="_method" value="">
			<table>
				<tbody>
					<tr>
						<td style="width:80px">姓名</td>
						<td><input type="text" name="name"/>
							<input type="hidden" name="id">
						</td>
					</tr>
					<tr>
						<td style="width:80px">性别</td>
						<td>
						<label for="male">
							<input id="male" type="radio" name="gender" value="男"/>男
						</label>
						<label for="female">
							<input id="female" type="radio" name="gender" value="女">女
						</label>
						</td>
					</tr>
					<tr>
						<td>电话号码</td>
						<td>
							<input type="text" name="phone">
						</td>
					</tr>
					<tr>
						<td>身份证号</td>
						<td>
							<input type="text" name="card">
						</td>
					</tr>
					<tr>
						<td>职称</td>
						<td>
							<input type="text" name="position">
						</td>
					</tr>
					<tr>
						<td>家庭地址</td>
						<td>
							<input type="text" name="address">
						</td>
					</tr>
					<tr>
						<td>所在部门</td>
						<td>
							<select name="department.id" id="deptSelect">
								<option value="">---请选择---</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>角色</td>
						<td>
							<select name="role.id" id="roleSelect">
								<option value="">---请选择---</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>出生日期</td>
						<td>
							<input type="text" name="birth" id="birth">
						</td>
					</tr>
					<tr>
						<td>学历</td>
						<td>
							<input type="text" name="education">
						</td>
					</tr>
					<tr>
						<td>职位</td>
						<td>
							<input type="text" name="professional">
						</td>
					</tr>
				</tbody>
			</table>
			<input type="submit" style="display:none">
			<input type="reset" style="display: none">
		</form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelBtn" onclick="cancel()">取消</button>
        <button type="button" class="btn btn-primary submitBtn">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</html>